@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');


/* navigation */
.topnav {
  background-color: #ffff
  ;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.topnav a:hover {
  background-color: 	#808080;
  color: white;
}


.topnav a.active {
  background-color: #C0C0C0;
  color: white;
}
/* H tags */
h1 {

text-align: center;

  font-size: 120px;
text-shadow: 7px 10px #606060;
  color: white;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: 'Francois One', sans-serif;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

h3{
  text-align: center;
  font-size: 45px;
  color: white;
  font-family:'Barlow Condensed', sans-serif;
}

h4{
  text-align: left;
  font-size: 20px;
    text-shadow: 7px 6px #606060;
  color: white;
  font-family: 'Alatsi', sans-serif;
}

h5{
  text-align: left;
  font-size: 20px;
    text-shadow: 7px 6px #606060;
  color: white;
  font-family: 'Alatsi', sans-serif;
  position: absolute;
  top: 3025px;
}

h6{
  text-align: left;
  font-size: 20px;
    text-shadow: 7px 6px #606060;
  color: white;
  font-family: 'Alatsi', sans-serif;
  position: absolute;
  top: 3025px;
}


.about {

}



p{
  text-align: left;
  font-size: 20px;
  color: white;
  font-family:'Barlow Condensed', sans-serif;
}

/* front images */

.sydney-bridge{

  margin-left: 0px 0px;
  width: 100%;
  height: 100%;
}

.sub{
  position: absolute;
  top: 400px;
  left: 774px;
  transform: translate(-50%, -50%);
    font-family: 'Francois One', sans-serif;
    text-shadow: 7px 6px #606060;
  }






.sydney-opera-house{
width: 100%;
justify-content: center;
position: relative;
text-align: center;

    }

.sydney-opera-house img{

margin-left: 0px 0px 0px 100px;
width: 100%;
height: 1001px;
justify-content: center;
  font-family: 'Francois One', sans-serif;
}

.centered {
  position: absolute;
  top:250px;
  left: 775px;
  transform: translate(-50%, -50%);
    font-family: 'Francois One', sans-serif;

}





/* cities page elements */

.sydney{
width: 450px;
height: 300px;
justify-content: flex-start;
position: absolute;
top: 900px;
left: 45px;
text-align: left;
   }

.sydney img{

margin-left: 100px 100px 100px 100px;
width: 100px;
height: 30%;
justify-content: center;
  font-family: 'Francois One', sans-serif;
}

.centered2 {
  position: absolute;
  top: 885px;
  left: 590px;
  transform: translate(-50%, -50%);
    font-family: 'Francois One', sans-serif;

}

.sydney-p {
  text-align: left;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 950px;
  left: 525px;
  font-family:'Barlow Condensed', sans-serif;
}






.Melbourne{
  width: 450px;
  height: 300px;
justify-content: flex-start;
position:absolute;
top: 1275px;
left:-1068px;
text-align: right;
    }




.Melbourne-p {
  position:absolute;
  top: 1315px;
  left:540px;
}

.centered3 {
  position: absolute;
  top: 1270px;
  left: 637px;
  transform: translate(-50%, -50%);
    font-family: 'Francois One', sans-serif;

}

.Melbourne2 {
  margin-left: 100px 100px 100px 100px;
  width: 450px;
  height: 300px;
  position: absolute;
  top: 1300px;
  left: 40px;
}





.Brisbane{
  width: 450px;
  height: 300px;
justify-content: flex-start;
position: absolute;
top: 1875px;
left: 40px;
text-align: left;

    }

.Brisbane img{

margin-left: 100px 100px 100px 100px;
width: 30%;
height: 300%;
justify-content: center;
  font-family: 'Francois One', sans-serif;
}

.centered4 {
  position: absolute;
  top: 1850px;
  left: 630px;
  transform: translate(-50%, -50%);
    font-family: 'Francois One', sans-serif;

}

.Brisbane-p {
  text-align: left;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 1920px;
  left: 550px;
  font-family:'Barlow Condensed', sans-serif;
}







.Perth{
  width: 450px;
  height: 300px;
justify-content: flex-start;
position: absolute;
top: 2500px;
left: 50px;
text-align: left;

    }

.Perth img{

margin-left: 100px 100px 100px 100px;
width: 30%;
height: 300%;
justify-content: center;
  font-family: 'Francois One', sans-serif;
}

.centered5 {
  position: absolute;
  top: 2475px;
  left: 610px;
  transform: translate(-50%, -50%);
    font-family: 'Francois One', sans-serif;

}

.Perth-p {
  text-align: left;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 2550px;
  left: 560px;
  font-family:'Barlow Condensed', sans-serif;
}






/* grid */

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid div:nth-child(even) {
  background-color: "#7f7f7f";
}

.grid div:nth-child(odd) {
  background-color: "#7f7f7f";
}

.grid img{


width: 500px;
height: 600px;

}

/* footer */


.footer2 {
  text-align: left;
  font-size: 20px;
  color: white;
  font-family: 'Alatsi', sans-serif;
  position: absolute;
  top:3000px;
}


.footer3 {
  text-align: left;
  font-size: 20px;
  color: white;
  font-family: 'Alatsi', sans-serif;
  position: absolute;
  top:3050px;
}



/* wildlife oage elements */


.Wildlife {
  text-align: left;
  font-size: 25px;
  color: white;
  font-family: 'Alatsi', sans-serif;
}

.bird {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 650px;
  left: 560px;
  font-family: 'Francois One', sans-serif;
}


.black-ape {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 650px;
  left: 1350px;
  font-family: 'Francois One', sans-serif;
}

.blue-lobster {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 1250px;
  left: 560px;
  font-family: 'Francois One', sans-serif;
}


.blue-crab {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 1250px;
  left: 1350px;
  font-family: 'Francois One', sans-serif;
}


.australian-crocodile {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 1850px;
  left: 560px;
  font-family: 'Francois One', sans-serif;
}



.komodo-dragon {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 1850px;
  left: 1350px;
  font-family: 'Francois One', sans-serif;
}


.red-fox {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 2450px;
  left: 560px;
  font-family: 'Francois One', sans-serif;
}


.kangaroo {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 2450px;
  left: 1350px;
  font-family: 'Francois One', sans-serif;
}


.koala {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 3050px;
  left: 560px;
  font-family: 'Francois One', sans-serif;
}


.Eastern-bearded-dragon {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 3050px;
  left: 1350px;
  font-family: 'Francois One', sans-serif;
}


.flame-anglefish {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 3650px;
  left: 560px;
  font-family: 'Francois One', sans-serif;
}


.shark {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 3650px;
  left: 1350px;
  font-family: 'Francois One', sans-serif;
}

.Green-tree-python {
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 4250px;
  left: 560px;
  font-family: 'Francois One', sans-serif;
}

.Yellow-moray{
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 4250px;
  left: 1350px;
  font-family: 'Francois One', sans-serif;
}

.Carpet-python{
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 4850px;
  left: 560px;
  font-family: 'Francois One', sans-serif;
}

.Eastern-brown-snake{
  text-align: left;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 4850px;
  left: 1350px;
  font-family: 'Francois One', sans-serif;
}
